/*Correções de margin*/
body{
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
header{
    background-color: #004744;
    margin: 0 auto;
    color: white;
    position: fixed;
    top:0;
    width: 100%;
    font-size: 2vw;
}
/*Responsividade Mobile*/
@media screen and (max-width: 1000px){
    #app{
        display: flex;
        flex-direction: column;
    }
    .chat{
        width: 75vw !important;
        margin-bottom: 5vw;
    }
    .btn{
        margin-bottom: 2vw;
        height: auto !important;
        width: 50%;
        margin: 2vw auto;
        padding: 3vw;
    }
}
#app{
    text-align: center
}

/*Inputs*/
.digitePalavra{
    font-size: 4vw;
    color: #002a28;
    margin-top: 10vw;
    
}
.chat{
    width: 50%;
    border-radius: 1vw;
    border-color: #004744;
    height: 2vw;
}
.btn{
    background-color: #fff;
    border: solid 0.2vw #004744;
    border-radius: 1vw;
    height: 2.5vw;
    background-color: #004744;
    color: #fff;
    transition: all 0.3s;
}
.btn:hover{
    background-color: #fff;
    color:#004744;
}
/*Resultasos*/
#resultado{
    display: flex;
    flex-direction: column;
}
#isAnagrama{
    border: solid 1px #004744;
    margin: 1vw 5vw;
    padding: 0 1vw;
    border-radius: 0.5vw;
    display: flex;
    margin-bottom: 4vw;
}
#dontisAnagrama{
    border: solid 1px #004744;
    margin: 1vw 5vw;
    padding: 0 1vw;
    border-radius: 0.5vw;
    display: flex;
    margin-bottom: 4vw;
}
#iniciarVerificacao{
    margin-bottom: 5vw!important;
}